<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270550664056-9medb03mviamb13qinkktsj8oqblsdpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270550664056-9medb03mviamb13qinkktsj8oqblsdpi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>270550664056-gph1e0dbjgjnd98jjigc16cen20cnf2i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBj2fTHnXuTNiKsEHbUTFvJO7p54Mo03gU</string>
	<key>GCM_SENDER_ID</key>
	<string>270550664056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-ac12f</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-ac12f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270550664056:ios:fdf6846549617f80957e8d</string>
</dict>
</plist>